{(templates/site_header.tmpl, {site = site, title = site.title})}

{% for _,post in ipairs(posts) do %}
{(templates/post.tmpl, {site = site, post = post})}
<br />

{% end %}

<h3><a class="extra" href="{{site.prefix}}/archive.html">all posts</a></h3>

{(templates/site_footer.tmpl)}
