{(templates/site_header.tmpl, {site = site, title = title})}

<h1>{{title}}:</h1>
<ul class="posts">
{% for _,tag in pairs(site.tags) do %}
	<li><a href="{{site.prefix}}/tags/{{tag}}.html">{{tag}}</a></li>
{% end %}
</ul>

{(templates/site_footer.tmpl)}
